*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;

}

:root {
    --bg-primary-color: #0c0c0c;
    --text-primary-color: #f0f0f0;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

main, section {
    width: 100%;
    height: 100%;
}

section {
    padding: auto;
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}